<header class="site-header" role="banner">

  <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="wrapper">
    <!-- {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
     <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a> -->

      <nav class="navbar">
        <div class="trigger">
          <a href="{{ "/" | relative_url }}"> Home</a>
          <a href="/news/">News</a>
          <a href="/about/">About</a>
          <a href="/research/">Research</a>
          <a href="/publications/">Publications</a>
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </nav>
  </div>
</header>
