<header class="site-header" role="banner">

  <div class="wrapper">
    <!-- {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
     <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a> -->

      <nav class="navbar">
        <div class="trigger">
          <a href="{{ "/" | relative_url }}"> Home</a>
          <a href="/about/">About</a>
          <a href="/research/">Research</a>
          <a href="/publications/">Publications</a>
        </div>
      </nav>
  </div>
</header>
